(
    out_dir: "builder/out_test",
    general_build: (
        jobs: None,
        architecture: X86_64,
    ),
    special_builds: (
        bootloader: (
            force_reinstall: false,
        ),
    ),
    kernels: [
        (
            id: (
                inner: "wasabi-kernel",
            ),
            crate_path: "wasabi-kernel",
            package_name: "wasabi-kernel",
            features: [],
            no_default_feature: false,
            all_features: false,
            profile: "dev",
            output_asm: false,
        ),
        (
            id: (
                inner: "wasabi-test",
            ),
            crate_path: "wasabi-test",
            package_name: "wasabi-test",
            features: [],
            no_default_feature: false,
            all_features: false,
            profile: "dev",
            output_asm: false,
        ),
    ],
    file_systems: [
        (
            id: (
                inner: "wasabi-kernel",
            ),
            fs_type: FAT,
            size: "20 MB",
            static_input: None,
            generated: [
                (
                    path_in_fs: "kernel-x86_64",
                    build: (
                        inner: "wasabi-kernel",
                    ),
                    artifact: KernelElf,
                ),
                (
                    path_in_fs: "efi/boot/bootx64.efi",
                    build: (
                        inner: "BOOTLOADER-X86_64",
                    ),
                    artifact: KernelElf,
                ),
            ],
        ),
        (
            id: (
                inner: "wasabi-test",
            ),
            fs_type: FAT,
            size: "20 MB",
            static_input: None,
            generated: [
                (
                    path_in_fs: "kernel-x86_64",
                    build: (
                        inner: "wasabi-kernel",
                    ),
                    artifact: KernelElf,
                ),
                (
                    path_in_fs: "efi/boot/bootx64.efi",
                    build: (
                        inner: "BOOTLOADER-X86_64",
                    ),
                    artifact: KernelElf,
                ),
            ],
        ),
    ],
    images: [
        (
            id: (
                inner: "wasabi-kernel",
            ),
            partitions: [
                (
                    uuid: None,
                    name: "boot",
                    fs: (
                        inner: "wasabi-kernel",
                    ),
                    is_boot: true,
                    is_read_only: false,
                ),
            ],
            device_uuid: None,
        ),
        (
            id: (
                inner: "wasabi-test",
            ),
            partitions: [
                (
                    uuid: None,
                    name: "boot",
                    fs: (
                        inner: "wasabi-kernel",
                    ),
                    is_boot: true,
                    is_read_only: false,
                ),
            ],
            device_uuid: None,
        ),
    ],
    tests: [
        (
            id: (
                inner: "histogram",
            ),
            cargo: Some("histogram"),
            kernel: None,
        ),
        (
            id: (
                inner: "staticvec",
            ),
            cargo: Some("staticvec"),
            kernel: None,
        ),
        (
            id: (
                inner: "shared",
            ),
            cargo: Some("shared"),
            kernel: None,
        ),
        (
            id: (
                inner: "host-shared",
            ),
            cargo: Some("host-shared"),
            kernel: None,
        ),
        (
            id: (
                inner: "host-wfs",
            ),
            cargo: Some("host-wfs"),
            kernel: None,
        ),
        (
            id: (
                inner: "block-device",
            ),
            cargo: Some("block-device"),
            kernel: None,
        ),
        (
            id: (
                inner: "wfs",
            ),
            cargo: Some("wfs"),
            kernel: None,
        ),
        (
            id: (
                inner: "testing",
            ),
            cargo: Some("testing"),
            kernel: None,
        ),
        (
            id: (
                inner: "testing-tests",
            ),
            cargo: Some("testing"),
            kernel: None,
        ),
        (
            id: (
                inner: "gpt",
            ),
            cargo: Some("gpt"),
            kernel: None,
        ),
        (
            id: (
                inner: "interrupt-fn-builder",
            ),
            cargo: Some("interrupt-fn-builder"),
            kernel: None,
        ),
        (
            id: (
                inner: "logger",
            ),
            cargo: Some("logger"),
            kernel: None,
        ),
        (
            id: (
                inner: "fuse",
            ),
            cargo: Some("fuse"),
            kernel: None,
        ),
        (
            id: (
                inner: "wasabi-test",
            ),
            cargo: None,
            kernel: Some((
                inner: "wasabi-test",
            )),
        ),
        (
            id: (
                inner: "builder",
            ),
            cargo: Some("builder"),
            kernel: None,
        ),
    ],
    test_groups: [
        (
            id: (
                inner: "all",
            ),
            systems: [],
            cargo_only: false,
            kernel_only: false,
        ),
        (
            id: (
                inner: "owned",
            ),
            systems: [
                (
                    inner: "host-shared",
                ),
                (
                    inner: "host-wfs",
                ),
                (
                    inner: "block-device",
                ),
                (
                    inner: "gpt",
                ),
                (
                    inner: "interrupt-fn-builder",
                ),
                (
                    inner: "logger",
                ),
                (
                    inner: "shared",
                ),
                (
                    inner: "testing",
                ),
                (
                    inner: "testing-tests",
                ),
                (
                    inner: "builder",
                ),
                (
                    inner: "wasabi-test",
                ),
            ],
            cargo_only: false,
            kernel_only: false,
        ),
        (
            id: (
                inner: "cargo",
            ),
            systems: [],
            cargo_only: true,
            kernel_only: false,
        ),
        (
            id: (
                inner: "kernel",
            ),
            systems: [],
            cargo_only: false,
            kernel_only: true,
        ),
    ],
    default_build_targets: [
        (
            inner: "wasabi-kernel",
        ),
    ],
    default_tests: [
        (
            inner: "owned",
        ),
    ],
    default_run_image: Some((
        inner: "wasabi-kernel",
    )),
    qemu: (
        ovmf: (
            prebuild_tag: "edk2-stable202605-r1",
            prebuild_hash: "8ae4d2d73161cc2335f5675d3b8b6edfa0642301679764a246940488ea3ce20d",
            storage_path: "ovmf",
            download_url: "https://github.com/rust-osdev/ovmf-prebuilt/releases/download/edk2-stable202605-r1/edk2-stable202605-r1-bin.tar.xz",
        ),
        memory: "4G",
        processor_count: 8,
        serial: [
            "stdio",
        ],
        debug_log: None,
        debug_info: "int,cpu_reset,unimp,guest_errors",
    ),
    clean: (
        ovmf: Unused,
        build: (
            bootloader: false,
        ),
    ),
)